*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}
html,body{
    height: 100%;
    perspective: 800px;
    width: 100%;
}

#cursor{
    background-color: rgb(135, 135, 8);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    filter: blur(10px);
}

#nav{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    gap: 30px;
    position: fixed;
    z-index: 99;
    
}
#nav img{
    height: 75px;
    border-radius: 510%;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 1000;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
height: 100vh;
width: 100%;
position: relative;
display: flex;
justify-content: center;
align-items: 1center;
flex-direction: column;
text-align: center;
z-index: 10;

}

#page1 h1{
    font-size: 25px;
    font-weight: 1000;
    position: relative;
   
}
#about-us {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
    z-index: 10;

}
#about-us img{
    height: 400px;
    width: 400px;
    border-radius:20px ;
    
   
}
    
   #about-me{
    text-align: center;
    width: 50%;
   }
   #about-me h3{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 40px;
   }
#about-me p{
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}
#projects-style h3{
    font-size: 50px;
    font-weight: 900;
}
#projects{
    height: 60vh;
    display: flex;
    justify-content:center;
   align-items: center;
   gap:70px;
  
   
}

.card{
    height: 80%;
    width: 25%;
    border-radius:20px ;
    background-size: cover;
    background-position:center;
    position: relative;
    z-index: 10;
    overflow:hidden;
    transition: all ease 0.6s;

}
#card1{
background-size:cover;
    background-image: url(./img/transfer_000.jpg);
}
#card2{
    background-size: cover;
    background-image: url(./img/dwm.jpg);
}
#card3{
    background-size: cover;
    background-image: url(./img/resume.jpg);
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(138, 66, 139);
    padding: 40px;
    padding-top: 100px;
    margin-bottom: 20px;
    opacity: 0;
    transition: all ease 0.6s;
    

}
.overlay h4{
    color: black;
    font-size: 28px;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 50px;
}
.overlay p{
    color: black;
    font-size: 18px;
    font-weight: 200;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#contact img{
    height: 600px;
    width: 600px;
   
    
}
#contact {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
    z-index: 10;
}


#contact img{
    height: 400px;
    width: 400px;
    border-radius:20px ;
    
   
}
#contact h3{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 40px;
   }
#contact p,a{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    white-space: nowrap;
}
#contact-me{
    text-align: center;
    width: 50%;
}

